<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/fontawesome-all.css" rel="stylesheet">
    <link href="/css/swiper.css" rel="stylesheet">
	<link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body style="background-color: #f9fafc;">
    <!-- Request -->
    <br><br><br><br>
    <div id="request" class="form-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Fill The Following Form to Book an Appointment!</h2>
                        <p>Schedule an appointment with the desired doctor and comfortably the best in class medical treatment.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">No Need to go anywhere </strong> schedule from your home</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Interact with best doctors</strong> we are here with you in your tough times</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">24x7 Support consultation </strong> and download your appointment</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Save precious time</strong> and spend it wisely with your loved ones</div>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">

                    <!-- Request Form -->
                    <div class="form-container">
                        <form id="requestForm" data-toggle="validator" data-focus="false" action="/appointment/<%= users.name %>" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="name" name="user[pname]" placeholder="Name" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control-input" id="age" name="user[page]" placeholder="Age" required>
                                <div class="help-block with-errors"></div>
                            </div>
							<div class="form-group" onload="resetSelection()">
								<select  class="form-control-select" id="city" size="1" onchange="makeSubmenu(this.value)" name="user[city]" required>
									<option class="select-option" value="" disabled selected>Choose City</option>
									<option class="select-option">Delhi</option>
									<option class="select-option">Mumbai</option>
									<option class="select-option">Kolkata</option>
									<option class="select-option">Chennai</option>
									</select>

									<br>

									<select  class="form-control-select" id="hospital" size="1" name="user[hospital]" required>
									<option class="select-option" value="" disabled selected>Choose hospital</option>
									<option class="select-option"></option>
									</select>
							</div>
                            <div class="form-group">
								<input type="submit" id="button" class="form-control-submit-button" value="Book"/>
                            </div>
                            <div class="form-message">
                                <div id="rmsgSubmit" class="h3 text-center hidden"></div>
                            </div>
                        </form>
                    </div> <!-- end of form-container -->
                    <!-- end of request form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of request -->
</body>
<!-- Scripts -->
<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="/js/appointment.js"></script> 
<script src="/js/jspdf.min.js"></script> 
</html>
